# Ignore specific environment and junk folders
.vscode/
c++_dsa/
roadmap/
.DS_Store

# Ignore all dSYM debug folders everywhere
*.dSYM/
**/*.dSYM/
**/**/*.dSYM/

# Ignore compiled binary executables
*.out
*.exe
*.o
*.obj
!.gitignore