# 1. Ignore specific junk/environment folders
.vscode/
c++_dsa/
roadmap/
.DS_Store
*.dSYM/
**/*.dSYM/

# 2. Ignore standard build extensions
*.out
*.exe
*.o
*.obj

# 3. Ignore all files by default, then whitelist folders and code
*
!*/
!**/*.cpp
!**/*.md
!.gitignore